<section ng-controller="TimesheetsController" ng-init="get()">
    <h2>{{user.displayName}} - {{project.vendor.name}} - {{timesheet.status}}</h2>
    <h4>Timesheet from {{timesheet.start | date}} to {{timesheet.end | date}}</h4>
    <div class="timesheet clearfix {{project.timesheetCycle}}">
        <div class="col-sm-1 {{day.date|date: 'EEE'}}" ng-repeat="day in timesheet.daily">
            <div>
                {{day.date|date: 'MMM dd'}}<br>
				{{day.date|date: 'EEE'}}
                <input class="form-control" ng-readonly="timesheet.readonly" ng-model="day.hours">
            </div>
        </div>
        <div class="col-sm-1 total" >
            {{getTotal(timesheet.daily)}}
        </div>
    </div>

    <div oi-documents filename="fileName" model="timesheet" urlbase="/timesheets" docs="timesheet.docs" functions="functions" noupload="timesheet.readonly" nodelete="timesheet.readonly" msg="Please provide valid file name in the input box. i.e if uploading timesheet then mention dates like Dec12-Dec19 or something similar"></div>
    
    <div ng-if="!isAdmin">
        <div ng-if="timesheet.status === 'New' || timesheet.status=='Saved' || timesheet.status=='Returned'">
            <button class="btn btn-primary" ng-click="save('Saved')">Save</button>
            <button ng-disabled="!timesheet.docs.length" class="btn btn-primary" ng-click="save('Submitted')">Submit</button>
            <span ng-if="!timesheet.docs.length">You must save with uploaded approved timesheets before submit.</span>
        </div>
        <button ng-if="timesheet.status === 'Submitted'" class="btn btn-primary" ng-click="save('ReturnRequested')">Request Return</button>
    </div>

    <div ng-if="isAdmin">
        <div class= "panel panel-default" ng-if="timesheet.status === 'Submitted' || timesheet.status === 'ReturnRequested' || timesheet.status === 'EditComments' ">
            <textarea  rows="2" cols="60" ng-model="addComments" placeholder="Please enter min 15 characters" ng-minlength="15" style="margin: 15px; padding: 10px;"></textarea><button class="btn btn-primary" ng-click="save('Returned')" ng-disabled="!addComments" style="margin:5px;">Reject/Return</button><button style="margin: 5px;" class="btn btn-primary" ng-if="timesheet.status === 'EditComments' " ng-click="cancelEditComment()">Cancel</button><br />
        </div>
        
        <div ng-if="timesheet.status === 'Returned' && timesheet.comments" class=" panel panel-danger" style="max-height: 40px; margin-bottom: 20px;">
            <div class="panel-heading">{{timesheet.comments}}</div>
            <button style="margin: 5px;" class="btn btn-primary" ng-if="isAdmin" ng-click="removeComments()">Remove Comments</button><button style="margin: 5px;" class="btn btn-primary" ng-if="isAdmin" ng-click="editComments()">Edit Comments</button><br /> 
        </div><br />
        
        <button ng-if="timesheet.status === 'Submitted'" class="btn btn-primary" ng-click="save('Approved')">Approve</button>
        <button style="margin: 5px;" class="btn btn-primary" ng-click="save(timesheet.status)">Save</button>
        <button style="margin: 5px;" ng-if="timesheet.status==='Saved' || timesheet.status==='Returned'" ng-disabled="!timesheet.docs.length" class="btn btn-primary" ng-click="save('Submitted')">Submit</button>
    </div>

    <div class="clear pull-right">
        <button class="btn btn-primary" ng-click="goBack()">Back</button>
    </div>
    
    <!-- changed by Shruti Patel-->   
    <!-- This div adds expenses for this timesheet-->

    <div data-ng-controller="ExpensesController" data-ng-init="find()" style="clear: right;">
        <div>
            <div class="page-header">
            <h1>Expenses</h1>
            </div>
            <div class="row">
                <div class="col-xs-2">User</div>
                <div class="col-xs-4">Description</div>
                <div class="col-xs-2">Date Range</div>
                <div class="col-xs-2">Amount</div>
                <div class="col-xs-2">Status</div>
            </div>
          
            <a data-ng-if=" user.displayName == expense.user.displayName && expense.endDate >= timesheet.start && expense.endDate <= timesheet.end" data-ng-repeat="expense in expenses"  data-ng-href="#!/expenses/{{expense._id}}/edit" class="list-group-item row" >
            <div class="col-xs-2">{{expense.user.displayName}}</div>
            <div class="col-xs-4">{{expense.description}}</div>
            <div class="col-xs-2">{{expense.startDate | date}} - {{expense.endDate | date}}</div>
            <div class="col-xs-2">{{expense.amount}}</div>
            <div class="col-xs-2">{{expense.status}}</div>
            </a>
         
        </div>
    </div>



</section>