<section data-ng-controller="ExpensesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Expenses</h1>
    </div>
    <div class="list-group">
		<div class="row">
			<div class="col-xs-2">User</div>
			<div class="col-xs-4">Description</div>
			<div class="col-xs-2">Date</div>
			<div class="col-xs-2">Amount</div>
			<div class="col-xs-2">Status</div>
		</div>
        <a data-ng-if="expense.status==='Approved'" data-ng-repeat="expense in expenses" data-ng-href="#!/expenses/{{expense._id}}/edit" class="list-group-item row" >
			<div class="col-xs-2">{{expense.user.displayName}}</div>
			<div class="col-xs-4">{{expense.description}}</div>
			<div class="col-xs-2">{{expense.startDate | date}}</div>
			<div class="col-xs-2">{{expense.amount}}</div>
			<div class="col-xs-2">{{expense.status}}</div>
        </a>
    </div>


    <div class="alert alert-warning text-center" data-ng-hide="!expenses.$resolved || expenses.length">
    	No Expenses yet, why don't you <a href="/#!/expenses/create">create one</a>?
    </div>
</section>