<section ng-controller="ExpensesController" ng-init="findOne()">
	<div class="page-header">
		<h1>{{action}} Expense {{isAdmin}}</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<label class="form-group" ng-if="isAdmin">User
					<div class="controls">
						<ui-select ng-model="expense.user" choice-key="_id" model-key="expense.user" theme="bootstrap" ng-disabled="disabled" >
							<ui-select-match placeholder="Select User">{{$select.selected.displayName}}</ui-select-match>
							<ui-select-choices repeat="item._id as item in users | filter: $select.search">
								<div ng-bind-html="item.displayName | highlight: $select.search"></div>
								<small ng-bind-html="item.startDate | date"></small>
							</ui-select-choices>
						</ui-select>
					</div>
				</label>

				<label class="form-group">Description (Ex. Monthly parking, Florida Project Meeting etc)
					<div class="controls">
						<input type="text" data-ng-model="expense.description" class="form-control" placeholder="Description">
					</div>
				</label>

				<label class="form-group input-group" >From Date (The date on which expense occured)
					<div class="input-group" data-ng-controller="datepickerPopupCtrl">
						<input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="expense.startDate" class="form-control" placeholder="From Date" />
						<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</label>

				<label class="form-group input-group" >To Date (Leave it empty unless multiple day hotel trip)
					<div class="input-group" data-ng-controller="datepickerPopupCtrl">
						<input datepicker-popup="yyyy-MM-dd" ng-focus="toggleOpen($event)" is-open="opened" close-text="Close"  type="text" data-ng-model="expense.endDate" class="form-control" placeholder="To Date" />
						<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="toggleOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</div>
				</label>
				<label class="form-group">Amount
					<div class="controls">
						<input type="text" data-ng-model="expense.amount" class="form-control" placeholder="Amount">
					</div>
				</label>
				<div class="form-group">
					<div oi-documents model="expense" urlbase="/expenses" docs="expense.docs" functions="functions" noupload="expense.readonly" nodelete="expense.readonly"></div>
				</div>
				
				<!-- changes made by Shruti Patel-->
				<!--Changed ng-if="!isAdmin" to "isAdmin" to use the functionality-->
				
				<div ng-if="isAdmin">
					<div ng-if="!expense.status || expense.status === 'New' || expense.status=='Saved' || expense.status=='Returned'">
						<button class="btn btn-primary" ng-click="save('Saved')">Save</button>
						<button ng-disabled="!expense.docs.length" class="btn btn-primary" ng-click="save('Submitted')">Submit</button>
						<span ng-if="!expense.docs.length">You must save after uploading scanned receipts before submit.</span>
					</div>
					<button ng-if="expense.status === 'Submitted'" class="btn btn-primary" ng-click="save('ReturnRequested')">Request Return</button>
				</div>

				<div ng-if="isAdmin">
					<button ng-if="expense.status === 'Submitted'" class="btn btn-primary" ng-click="save('Approved')">Approve</button>
					<button ng-if="expense.status === 'Submitted' || expense.status === 'ReturnRequested'" class="btn btn-primary" ng-click="save('Returned')">Reject/Return</button>
					<button class="btn btn-primary" ng-click="save(expense.status)">Save</button>
					<button ng-if="expense.status==='Saved' || expense.status==='Returned'" ng-disabled="!expense.docs.length" class="btn btn-primary" ng-click="save('Submitted')">Submit</button>
				</div>

				<div class="clear pull-right">
					<button class="btn btn-primary" ng-click="goBack()" >Back</button>
				</div>
			</fieldset>
		</form>
	</div>
</section>