<section data-ng-controller="UsersController" data-ng-init="getAllData()">
    <h1>Welcome {{user.displayName}}</h1>
    <oi-awaiting-approval></oi-awaiting-approval>
    <oi-timesheet-list></oi-timesheet-list>
    <div oi-documents model="user" urlbase="/users" docs="user.docs" functions="functions"></div>
   	<oi-updated-timesheets></oi-updated-timesheets>
</section>