 <div class="panel panel-default"  data-ng-controller="TimesheetsController" data-ng-init="find()">
	    <div class="panel-heading">Recently Updated Timesheets</div>
	     <div class="panel-body">
	        <ul class="list-group"><span>{{created}}</span>
	            <li class="list-group-item {{doc.deleted}} " ng-repeat="ts in timesheets | limitTo:10 | orderBy: '-updated'" >
	                <a ng-href="#!/timesheets/{{ts._id}}" {{ts.project.user.displayName}} - {{ts.project.vendor.name}} - {{ts.project.client}} </a>
                {{ts.start | date}} to {{ts.end | date}}  <strong>{{getTotal(ts.daily)}} Hours</strong>  - {{ts.status}} - on {{ts.updated | date: 'short'}} 
	            </li>
	        </ul>
	    </div>
	</div>